HF_TOKEN = ""
GOOGLE_API_KEY = ""
GROQ_API_KEY=""
ARIZE_API_KEY=""
ARIZE_SPACE_ID=""
# PHOENIX_COLLECTOR_ENDPOINT='http://localhost:6001'
# PHOENIX_TRACING_URL="http://localhost:6006"
NEON_DB_CONNECTION_STRING ="" 